$breakpoints: (
  small: (
    min-width: 550px,
  ),
  medium: (
    min-width: 768px,
  ),
  large: (
    min-width: 770px,
  ),
  extra-large: (
    min-width: 1024px,
  ),
);

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - Nie rozpoznaje tej wielkości';
  }
}

@mixin animateArrow() {
  @keyframes moveDown {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(5vh);
    }

    50% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(-5vh);
    }

    50% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }
}
