.container {
  height: 90vh;
  display: grid;
  grid-template: 30vh 1fr / 100vw;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background-color: #f4f2f2;
  @include mq(small) {
    height: 100vh;
    grid-template: 30vh 1fr / 88vw;
  }
  @include mq(medium) {
    grid-template: 30vh 1fr 10vh/ 100vw;
  }
  @include mq(large) {
    height: 100vh;
    grid-template: 30vh 1fr / 88vw;
  }
  @include mq(extra-large) {
    grid-template: 50vh 1fr / 100%;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #f4f2f2;
  }
}

.pokemonRandom {
  position: relative;
  @include mq(extra-large) {
    background-color: #e2e2e2;
  }
  &__pokeball {
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translate(-50%, -50%) scale(0);
    @include mq(small) {
      left: calc(90vw / 2);
    }
    @include mq(medium) {
      left: 50vw;
    }
    @include mq(large) {
      left: calc(90vw / 2);
    }
    @include mq(extra-large) {
      left: 50vw;
    }
  }
  &__randomButton {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 7vh;
    width: 30vw;
    padding: 10px 20px;
    border: 0;
    font-size: 20px;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #ffffff;
    background-color: #3f51b5;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 25px 10px #3f51b5;
    @include mq(small) {
      height: 15vh;
      width: 22vw;
    }
    @include mq(medium) {
      height: 8vh;
      width: 28vw;
      font-size: 30px;
    }
    @include mq(large) {
      height: 15vh;
      width: 22vw;
      font-size: 20px;
    }
    @include mq(extra-large) {
      height: 75px;
      width: 200px;
      font-size: 26px;
      box-shadow: none;
      transition: 0.5s;
      cursor: pointer;
    }
    &:hover {
      box-shadow: 0 0 25px 10px #3f51b5;
    }
  }
}

.pokemonContainer {
  width: 100%;
  height: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include mq(small) {
    margin-top: 15vh;
  }
  @include mq(medium) {
    margin-top: 5vh;
  }
  @include mq(large) {
    margin-top: 15vh;
  }
  @include mq(extra-large) {
    margin-top: 5vh;
  }
  &__name {
    display: inline-block;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #212121;
    @include mq(small) {
      width: 90vw;
    }
    @include mq(medium) {
      width: 100vw;
    }
    @include mq(large) {
      width: 90vw;
    }
    @include mq(extra-large) {
      width: 100vw;
    }
  }
  &__pokemon {
    height: 30vh;
    width: 30vh;
    margin-top: 2vh;
    align-self: center;
  }
}

.informationHolder {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-row: 3 / 4;
  text-align: center;
}

.showDirection {
  position: absolute;
  bottom: 7vh;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  color: #cc0000;
}

@include animateArrow;
