.teamContainer {
  height: 90vh;
  display: grid;
  grid-template: 30vh 1fr / 100vw;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background-color: #f4f2f2;
  @include mq(small) {
    height: 100vh;
    grid-template: 30vh 1fr / 88vw;
  }
  @include mq(medium) {
    grid-template: 30vh 1fr 10vh/ 100vw;
  }
  @include mq(large) {
    grid-template: 30vh 1fr / 88vw;
  }
  @include mq(extra-large) {
    grid-template: 60vh 1fr / 100%;
    max-width: 2000px;
  }
}

.team {
  display: grid;
  grid-template: 10vh 1fr / 100vw;
  margin-top: 50px;
  @include mq(small) {
    grid-template: 20vh 1fr / 88vw;
  }
  @include mq(medium) {
    grid-template: 10vh 1fr / 100vw;
  }
  @include mq(large) {
    grid-template: 20vh 1fr / 88vw;
  }
  @include mq(extra-large) {
    grid-template: 1fr / 100vw;
  }
  &__heading {
    justify-self: center;
    text-align: center;
    font-size: 30px;
    @include mq(small) {
      margin-top: 20px;
      align-self: flex-end;
    }
    @include mq(extra-large) {
      align-self: center;
      font-size: 38px;
      color: #212121;
    }
  }
}
