.teamContainer {
  height: 90vh;
  display: grid;
  grid-template: 30vh 1fr / 100vw;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background-color: #3b4cca;
}

.team {
  display: grid;
  grid-template: 10vh 1fr / 100vw;
  @include mq(small) {
    grid-template: 20vh 1fr / 100vw;
  }
  &__heading {
    justify-self: center;
    align-self: end;
    font-size: 30px;
    @include mq(small) {
      align-self: center;
    }
  }
}
