.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @include mq(small) {
    align-items: flex-start;
  }
  @include mq(medium) {
    align-items: center;
  }
  @include mq(large) {
    align-items: flex-start;
  }
  &__logo {
    @include mq(small) {
      transform: scale(0.8);
    }
  }
}
