.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @include mq(small) {
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__logo {
    @include mq(small) {
      transform: scale(0.7) translate(-15%, -15%);
    }
  }
}
