.nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 10vh;
  background-color: #303f9f;
  z-index: 1;
  @include mq(small) {
    width: 12vw;
    height: 100vh;
  }
  @include mq(medium) {
    width: 100vw;
    height: 10vh;
    overflow: hidden;
  }
  @include mq(large) {
    width: 12vw;
    height: 100vh;
  }
  @include mq(extra-large) {
    bottom: 90vh;
    right: 8vw;
    width: 25vw;
    height: 7vh;
    margin-top: 10px;
    background-color: transparent;
  }
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    @include mq(small) {
      flex-direction: column-reverse;
    }
    @include mq(medium) {
      flex-direction: row;
    }
    @include mq(large) {
      flex-direction: column-reverse;
    }
    @include mq(extra-large) {
      flex-direction: row;
    }
  }
  &__item {
    width: 30%;
    height: 100%;
    @include mq(small) {
      width: 100%;
      height: 30%;
    }
    @include mq(medium) {
      width: 30%;
      height: 100%;
    }
    @include mq(large) {
      width: 100%;
      height: 30%;
    }
    @include mq(extra-large) {
      width: 30%;
      height: 100%;
    }
  }
  &__hyperlink {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    &:hover > i,
    &:hover > span {
      color: #303f9f;
    }
    &--active > i,
    &--active > span {
      color: #ffeb3b;
      @include mq(extra-large) {
        color: #303f9f;
      }
    }
  }
  &__itemImage {
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    @include mq(medium) {
      width: 30%;
      font-size: 35px;
    }
    @include mq(large) {
      width: 100%;
      font-size: 26px;
    }
    @include mq(extra-large) {
      color: #212121;
    }
  }
  &__itemText {
    width: 100%;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    @include mq(medium) {
      width: 70%;
      font-size: 18px;
    }
    @include mq(large) {
      width: 100%;
      font-size: 12px;
    }
    @include mq(extra-large) {
      color: #212121;
    }
  }
}
